@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #494f9d;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-1 H1 {
  color: #e25041;
  text-align: left;
}
#header4-1 P {
  color: #e25041;
  text-align: left;
  font-family: 'Oswald', sans-serif;
  font-size: 23px;
}
#header4-1 .btn {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}
#form1-6 .mbr-header__text {
  color: #ffffff;
}
#instagram-feed-block-4 .inst__title {
  color: #ffffff;
}
